@model IEnumerable<OnlineWebPortal.Models.RegUser>
@{
    ViewData["Title"] = "Login Page";
}
    <div class="container">
        <div class="body-content">
            <h1 class="text-center">User' Accounts</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                        <th>Role</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var acc in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItel => acc.FirstName)</td>
                            <td>@Html.DisplayFor(modelItel => acc.LastName)</td>
                            <td>@Html.DisplayFor(modelItel => acc.Username)</td>
                            <td>@Html.DisplayFor(modelItel => acc.Roles)</td>
                            <td><a asp-controller="Account" asp-action="DeleteUserAccount" asp-route-id="@acc.ID">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <a asp-controller="User" asp-action="Users">Back</a>
    </div>